<?xml version="1.0"?>
<configuration>
  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- <add key="DataConnectionString" value="UseDevelopmentStorage=true" /> -->
  <add key="DataConnectionString" value="DefaultEndpointsProtocol=http;AccountName=assafoshritstorage;AccountKey=e/N+3jTKS8FVCjUbHfyEPRHevGwSZjyQTv+G1OOQyj2psOfBjllnDR5IixQvshWFUvsXPDmuLw/HrmklCNwtiw==" /> 
  <add key="MonitoredFolderPath" value="C:\Users\assafi.TD-CSF\Desktop\sync" />
  </appSettings>
</configuration>
